html {
  width: 100%;
  margin: 0 auto;
  display: block;
  cursor: url(https://cur.cursors-4u.net/symbols/sym-3/sym253.ani),
    url(https://cur.cursors-4u.net/symbols/sym-3/sym253.png), auto !important;
}
body {
  background-image: url("https://a.rgbimg.com/users/x/xy/xymonau/600/mgZP6oI.jpg");
  background-size: 150%;
  margin: 0 auto;
  display: block;
}

#sections-merged {
  background-color: #f7cdea;
  border: 3px outset #f7cdea;
  width: 50%;
  display: inline-block;
}

.fit {
  height: 40%;
  margin: 0 auto;
  display: block;
  width: 80%;
}
#humidity-wind {
  background-color: #f197c4;
  width: 40%;
  padding-top: 20px;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  margin-left: 5%;
}
#emoji {
  font-size: 70px;
}

.city-name {
  padding-top: 45px;
  padding-bottom: 35px;
  font-size: 30px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.city {
  width: 50%;
}
#buttons {
  font-family: covered by your grace;
  display: inline-block;
}

p {
  font-family: inherit;
  background-color: #f197c4;
}

#detail {
  float: right;
  border: 2px outset #f197c4;
  background-color: rgb(255, 221, 242);
  font-size: 13px;
  width: 15px;
  height: 20px;
}
#detail-2 {
  position: relative;
  left: 97%;
}

.day-of-week {
  font-size: 50px;
  padding-left: 2rem;
  padding-bottom: 20px;
  font-family: amatic SC;
  overflow: hidden;
}
#currentTemp {
  font-size: 50px;
}

.cel-fah-convert {
  margin-bottom: 20px;
  text-align: center;
  word-spacing: 50px;
  font-size: 15px;
}
#celsius {
  background-color: rgb(255, 221, 242);
  border: 2px outset #f197c4;
  width: 25%;
  overflow: hidden;
}
#fahrenheit {
  background-color: rgb(255, 221, 242);
  border: 2px outset #f197c4;
  width: 25%;
  overflow: hidden;
}

.py-5 {
  border: 0;
  display: block;
  background-color: rgb(145, 135, 219);
  max-width: 60%;
  padding-top: 0 !important;
  margin-top: 3%;
  border: 3px outset rgb(145, 135, 219);
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.bar {
  background-color: rgb(109, 94, 222);
  width: 100%;
}
#load {
  background-color: transparent;
  text-align: center;
  font-size: 40px;
  margin: 0;
}

.mx-1 {
  border: 3px outset #f7cdea;
  text-align: center;
  height: 200px;
  font-size: 35px;
  line-height: 170%;
  min-width: 50px;
  font-family: covered by your grace;
  background-color: #f197c4;
  overflow: hidden;
}
.mx-2 {
  background-color: #6d5ede;
  margin-left: 0.2rem !important;
  margin-right: 0.2rem !important;
}

a:hover {
  cursor: pointer;
}
