html {
  width: 100%;
  margin: 0 auto;
  display: block;
  cursor: url(https://cur.cursors-4u.net/symbols/sym-3/sym253.ani),
    url(https://cur.cursors-4u.net/symbols/sym-3/sym253.png), auto !important;
}
body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/334/278/non_2x/abstract-neon-background-with-glitch-effect-free-vector.jpg");
  background-size: 130%;
  margin: 0 auto;
  display: block;
}

#sections-merged {
  background-color: #f7cdea;
  border: 3px outset #f7cdea;
  width: 50%;
  display: inline-block;
}

.fit {
  height: 40%;
  margin: 0 auto;
  display: block;
  width: 80%;
}
#humidity-wind {
  background-image: linear-gradient(to bottom right, #9187db, #f7cdea, #d3c4f2);
  width: 40%;
  padding-top: 20px;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  margin-left: 5%;
  border: 3px outset #f9dcf2;
  font-family: audiowide;
  color: rgb(79, 69, 160);
}
#top-emoji {
  height: 120px;
}

.city-name {
  padding-top: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
#submit-form {
  background-color: rgb(145, 135, 219);
  transition: 0.4s;
}
#submit-form:hover {
  background-color: #f197c4;
}
#currentLocation {
  background-color: rgb(145, 135, 219);
  transition: 0.4s;
}
#currentLocation:hover {
  background-color: #f197c4;
}
.city {
  width: 50%;
}
#buttons {
  display: inline-block;
}

p {
  font-family: inherit;
  background-color: #f197c4;
}
.system {
  color: #f7cdea;
  padding-left: 2px;
}
#detail {
  float: right;
  border: 2px outset #f197c4;
  background-color: rgb(255, 221, 242);
  font-size: 13px;
  width: 15px;
  height: 20px;
  color: rgb(79, 69, 160);
}
#detail-2 {
  position: relative;
  left: 94.3%;
  padding-left: 1.5px;
  padding-right: 1.5px;
  font-size: 13px;
  background-color: #8547d8;
  border: 2px outset #231045;
}
#detailMinimize {
  position: relative;
  left: 94.5%;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 13px;
  background-color: #8547d8;
  border: 2px outset #231045;
}

.day-week-time {
  font-size: 35px;
  padding-left: 1rem;
  overflow: hidden;
  font-family: audiowide;
  color: rgb(79, 69, 160);
}
#currentTemp {
  font-size: 50px;
  padding-left: 1rem;
  overflow: hidden;
  padding-bottom: 20px;
  font-family: audiowide;
  color: rgb(79, 69, 160);
}

#city-subject-name {
  font-size: 50px;
  overflow: hidden;
  padding-left: 1rem;
  font-family: audiowide;
  color: rgb(79, 69, 160);
}

.cel-fah-convert {
  margin-bottom: 20px;
  text-align: center;
  word-spacing: 50px;
  font-size: 15px;
}
#celsius {
  background-color: rgb(255, 221, 242);
  border: 2px outset #f197c4;
  width: 25%;
  overflow: hidden;
  color: rgb(79, 69, 160);
}
#fahrenheit {
  background-color: rgb(255, 221, 242);
  border: 2px outset #f197c4;
  width: 25%;
  overflow: hidden;
  color: rgb(79, 69, 160);
}

.py-5 {
  border: 0;
  display: block;
  background-color: #8547d8;
  max-width: 60%;
  padding-top: 0 !important;
  margin-top: 3%;
  border: 2px outset #8547d8;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.bar {
  background-color: #231045;
  width: 100%;
  overflow: hidden;
}
#load {
  background-color: transparent;
  text-align: center;
  font-size: 40px;
  margin: 0;
  padding-bottom: 10px;
}

.mx-1 {
  border: 3px outset #af42a1;
  text-align: center;
  font-size: 25px;
  line-height: 150%;
  min-width: 50px;
  background-color: #af42a1;
  overflow: hidden;
}

a:hover {
  cursor: pointer;
  color: #f9dcf2;
}
footer {
  padding-left: 1rem;
  color: #f9dcf2;
}
#description {
  font-size: 40px;
  font-family: audiowide;
}
#emoji {
  margin: 0 auto;
  display: block;
  text-align: center;
}
